* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Averia Libre", Tofu;
}

body {
  background-color: #f5f5f5;
}
.w20{
  width:20%;
}
.w80{
  width:80%;
}
div.box{
  display:flex;
  margin-left:auto;
  margin-right:auto;
  /* border: 2px solid #000000; */
  width:fit-content;
  padding: 10px;
  margin-top:5px;
  margin-bottom:5px;
}
div.post{
  background-color:#fff6d9;
  padding:10px;
  border-radius:15px;
  border: 2px solid #79362a;
}
.site-banner {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  background-image: url('media/images/seriesbanner_extra-long_smallsize_v03.png');
  background-size: cover;
  width:100%;
  height:300px;
}

.content {
  padding: 20px;
  margin: 0 auto;
  max-width: 1100px;
}
#chapter_content{
  width:900px;
  margin-left:auto;
  margin-right:auto;
}
.comic-page{
  width:900px;
}
.site-footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.site-footer p {
  margin: 0;
}
.inline{
  display:inline-block;
}
.nav{
  text-align:center;
  align:center;
}
.nav_button{
  padding-left:20px;
  padding-right:20px;
  cursor:pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
  grid-row-gap: 30px; /* Add some spacing between grid items */
  width: 1100px; /* Ensure the grid fits within a reasonable viewport width */
  margin:0 auto; /* Center the grid horizontally */
}

.grid-item {
  width: 320px;
  height: 320px;
  /* background-color: #f0f0f0; /* Add a light gray background for visibility */
  /* border: 1px solid #ccc; /* Add a border to outline each grid item */
}
#character_grid div.grid-item{
  background-image:url("/media/images/characters/CharacterTile_Mystery_400px.png");
  background-size: contain;
}
#character_grid div.grid-item img{
  width:320px;
  height:320px;
}
div.col-split-container{
  display:flex;
  flex-wrap:wrap;
}
@media (max-width: 768px) {
  .col-split-container {
    flex-direction: column;
  }
  .col-split {
    width: 100%;
  }
}
.main-navigation-pane {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.main-nav-button-list {
  width:100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between; /* Apply justify-content here */
}


.main-nav-button a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #FFFFFF; /* Adjust text color as needed */
  /* font-family: 'Tangerine', serif; */
}

.main-nav-button a > img {
  height: 65px;
  object-fit: cover;
}

.main-nav-button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
}

div.side-bar{
  width:100%;
  border-radius:15px;
  padding:0.5rem;
  background-color:#d3f2ff;
  border: 2px solid #79362a;
}
.side-bar-button-list {
  width:100%;
  list-style:none;
}
.p-heading{
  font-style:italic;
  font-size:24px;
  color:#4f99ee;
}